include README.md
include LICENSE
include requirements.txt
include app/env.example
recursive-include nexus_repository_api *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
